ul{
    list-style:none;
}
a{
    text-decoration: none;
}
body{
    font-size:15px;
    font-family: 'Muli', sans-serif;
    background: #fce9e9;
}

*{
    padding:0px;
    margin:0px;
}
.childmenu-icon {
    width: 8px;
    height: 8px;
    background: #c31b80;
    display: none;
    position: absolute;
    top: 9px;
    right: 3px;
    z-index: 3;
    display: block;
    transform: rotate(45deg);
    border-top-left-radius: 50px;
    border-top-right-radius: 0px;
    transition: 0.2s;
}
.menu-top {
    width: 1000px;
    margin: 20px auto;
}
ul.menu {
    /* overflow: hidden; */
}
ul.menu li {
    float: left;
    position: relative;
}
ul.submenu {
    opacity: 0;
    position:absolute;
    top: 180%;
    left: 0;
    width: 100%;
    transform: scale(0.8);
    transition: 0.7s;
    visibility: hidden;
}
ul.submenu li {
    display: block;
    clear: left;
    width: 99%;
    border: 1px solid grey;
    border-width: 1px 1px 0px 1px;
    position: relative;
}
ul.submenu li:hover .childmenu-icon {
    transform: rotate(-45deg);
    transition: 0.2s;
}
ul.submenu li ul li a {
    background-color: #d8d9d8;
}

ul.submenu li:last-child {
    border-bottom: 1px solid grey;
}
ul.submenu li a {
    background-color: #b2c0b2;
}
ul.menu >li:hover >.submenu{
    /* display: block; */
    top: 100%;
    left: 5%;
    z-index: 2;
    position: absolute;
    width: 100%;
    transition: 0.7s;
    opacity: 1;
    transform: scale(1);
    visibility: visible;
}
ul.menu li ul.submenu li ul.submenu {
    position: absolute;
    top:150%;
    left:102%;
    opacity:0;
    visibility: hidden;
    transition:0.7s;
}
ul.menu li .submenu >li:hover >.submenu{
    top: 0%;
    left: 102%;
    transition: 0.7s;
    opacity: 1;
    transform: scale(1);
    z-index:3;
    visibility: visible;
}
ul.menu li.active {
    position: relative;
}
ul.menu li a {
    padding: 8px;
    display: block;
    color: black;
    text-transform: capitalize;
    background: #d1d1d1;
}

ul.menu li a:hover {
    text-decoration: underline;
}
ul.menu li.active a {
    background-color: #84cb84;
    text-transform: uppercase;
}
ul.menu li.active::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background: #84cb84;
    position: absolute;
    top: 31%;
    right: -3px;
    transform: rotate(45deg);
    z-index: 3;
}
.line-1-30{
    width:1px;
    height: 15px;
    background: #c0b3b3;
    margin-top: 10px;
}